<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="auto"
	package="net.runserver.textReader"
	android:versionCode="1109"
	android:versionName="0.11.9">
	<supports-screens
		android:resizeable="true"
		android:anyDensity="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"	/>
	<application
	    android:allowBackup="true"
		android:icon="@drawable/icon"
		android:debuggable="false"
		android:label="@string/app_name">
		<activity
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="locale|orientation"
			android:name=".TextReader"
			android:launchMode="singleInstance"
			android:process=":reader"
			android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="" android:scheme="file" />
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/epub"/>
                <data android:mimeType="application/fb2"/>
                <data android:mimeType="application/fb2.zip"/>
                <data android:mimeType="application/fb2+zip"/>
				<data android:mimeType="application/x-fictionbook+xml" />
				<data android:mimeType="application/x-fictionbook" />
				<data android:mimeType="application/x-fb2" />
				<data android:mimeType="application/x-fictionbook+zip" />
                <data android:mimeType="text/html"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="" android:scheme="file" />
				<data android:pathPattern=".*\\.epub" />
				<data android:pathPattern=".*\\.fb2" />
				<data android:pathPattern=".*\\.fb2\\.zip" />
			</intent-filter>
		</activity>
		<activity
			android:theme="@android:style/Theme.Light.NoTitleBar"
			android:configChanges="locale"
			android:process=":fileBrowser"
			android:launchMode="singleInstance"
			android:name="net.runserver.fileBrowser.FileBrowser">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	
	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="8" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
</manifest> 
